<div class="container">
  <h1>Thank you <%= @user.pseudo %> for booking <%= @brain.name %></h1>

  <p>Start date : <%= @booking.start_date %></p>
  <p>End date : <%= @booking.end_date %></p>
  <p>Price : <%= @booking.total_price %> €</p>
</div>
