<div class="container">
  <div class="confirmation">
    <div class="thankyou">
      <h1>Thank you <%= @user.pseudo %> for booking <%= @brain.name %></h1>
    </div>

    <div class="booking-date-confirmation">
      <div class="booking-date-infos">
        <p><strong>Start date : </strong><%= @booking.start_date %></p>
        <p><strong>End date : </strong><%= @booking.end_date %></p>
        <p><strong>Price : </strong><%= @booking.total_price %> €</p>
      </div>
    </div>
  </div>
  <div class="btn-back">
    <%= link_to "Back to your dashboard", user_path(@user), class: "main-button" %>
  </div>
</div>
