<div class="container">
  <div class="row">
    <div class="col">
      <div class="username">
        <h2>
          Welcome <%= @user.first_name %> <%= @user.last_name %> !
        </h2>
        <%= link_to "Add a brain", new_brain_path %>
        <%= link_to "Edit my profile", edit_user_registration_path(@user), class: "main-button" %>
      </div>

      <div class="content">
  <div class="grid__cards-dashboard mb-5">
    <% @brains.each do |brain| %>
      <%= link_to brain_path(brain) do %>
        <div class="card-index">
          <div class="container-image mb-3">
            <% if brain.photo.attached? %>
              <%= cl_image_tag(brain.photo.key) %>
            <% else %>
              <%= image_tag("brainzImage.png", alt: "Brain Image") %>
            <% end %>
            <div class="qi">
              <div class="card-index__title">QI:</div>
              <div class="card-index__text-QI"><%= brain.qi %></div>
            </div>
          </div>
          <div class="card-infos">
            <div class="card-infos__attributes">
              <h2 class="card-index__name mb-3"><%= brain.name %></h2>

              <div class="d-flex align-items-start">
                <h3 class="card-index__title">Language(s):</h3>
                <div>
                  <% brain.languages.each do |language| %>
                    <p class="card-index__text"><%= language %></p>
                  <% end %>
                </div>
              </div>
              <div class="d-flex align-items-start">
                <h3 class="card-index__title">Specialties:</h3>
                <div>
                  <% brain.specialties.each do |specialty| %>
                    <p class="card-index__text"><%= specialty %></p>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
          <div>
            <h3 class="card-index__title">Price / Day:</h3>
            <div class="card-index__text-price"><%= brain.price_per_day %> €</div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

      <div class="card-bookings-dashboard">
        <h2>All my bookings</h2>
        <div class="card-booking">
          <% @bookings.each do |booking| %>
            <h3><%= booking.brain.name %></h3>
            <p>Start date : <%= booking.start_date %></p>
            <p>End date : <%= booking.end_date %></p>
            <%= link_to "Cancel", brain_booking_path(booking.brain_id, booking) , class: "btn btn-ghost", data: { turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
          <% end %>
        </div>
      </div>

      <div class="delete-account">
        <%= link_to "Delete my account", cancel_user_registration_path, class: "btn btn-ghost", data: { turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
      </div>
    </div>
  </div>
</div>
