<div class="container">
  <div class="row">
    <div class="col">
      <div class="username">
        <h2>
          Welcome <%= @user.first_name %> <%= @user.last_name %> !
        </h2>
        <%= link_to "Edit my profile", edit_user_registration_path(@user), class: "btn btn-ghost" %>
      </div>

      <div class="card-brain-dashboard">
        <h2>All my brains</h2>
        <% @brains.each do |brain| %>
          <div class="card-infos">
            <h3><%= brain.name %></h3>

              <% if brain.photo.attached? %>
                <%= cl_image_tag(brain.photo.key, width: 200, height: 200) %>
              <% else %>
                <img src="brainzImage.png" alt="">
              <% end %>

            <p>QI<%= brain.qi %></p>

            <p>Language(s):</p>
            <ul>
              <% brain.languages.each do |language| %>
                <li><%= language %></li>
              <% end %>
            </ul>

            <p>Specialties:</p>
            <ul>
              <% brain.specialties.each do |speciality| %>
                <li><%= speciality %></li>
              <% end %>
            </ul>

            <p>Price / Day:<%= brain.price_per_day %> €</p>
          <% end %>
        </div>
      </div>

      <div class="card-bookings-dashboard">
        <h2>All my bookings</h2>
        <div class="card-booking">
          <% @bookings.each do |booking| %>
            <div class="card-booking-infos">
              <h3><%= booking.brain.name %></h3>
              <div class="booking-date">
                <p><strong>Start date :  </strong><%= booking.start_date %></p>
                <p><strong>End date :  </strong><%= booking.end_date %></p>
              </div>
              <div class="cancel-booking">
                <%= link_to "Cancel", brain_booking_path(booking.brain_id, booking) , class: "btn filter__btn", data: { turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
              </div>
              <% end %>
            </div>
        </div>
      </div>

      <div class="delete-account">
        <%= link_to "Delete my account", cancel_user_registration_path, class: "btn btn-ghost", data: { turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
      </div>
    </div>
  </div>
</div>
