<div class="container">

  <div class="banner-brainz" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.shutterstock.com/image-illustration/cartoon-decorative-oil-painting-vibrant-260nw-1545321431.jpg);">
    <div class="container">
      <h1>Mind your business...</h1>
      <h2>Rent a brain !</h2>
    </div>
  </div>

  <div class="filter-bar">
    <div class="category">
      <i class="fa-solid fa-code"></i>
      <p>Dev Profile</p>
    </div>
    <div class="category">
      <i class="fa-regular fa-face-smile"></i>
      <p>Humor</p>
    </div>
    <div class="category">
      <i class="fa-solid fa-hands-clapping"></i>
      <p>Eloquence</p>
    </div>
    <div class="category">
      <i class="fa-solid fa-football"></i>
      <p>Sporty Mindset</p>
    </div>
    <div class="category">
      <i class="fa-solid fa-palette"></i>
      <p>Artist Soul</p>
    </div>
    <div class="filters_button">
    </div>
  </div>

  <div class="grid__cards mb-5">
    <% @brains.each do |brain| %>
      <%= link_to brain_path(brain) do %>
        <div class="card-index">
          <div class="container-image mb-3">
            <% if brain.photo.attached? %>
              <%= cl_image_tag(brain.photo.key) %>
            <% else %>
            <%= image_tag("brainzImage.png", alt: "Brain Image") %>
            <% end %>
            <div class="qi">
              <div class="card-index__title">QI:</div>
              <div class="card-index__text-QI"><%= brain.qi %></div>
            </div>
          </div>

      <h2 class="card-index__name mb-3"><%= brain.name %></h2>

      <div class="d-flex">
        <h3 class="card-index__title">Language(s)</h3>
        <ul>
          <% brain.languages.each do |language| %>
            <li class="card-index__text d-inline"><%= language %></li>
          <% end %>
        </ul>
      </div>
      <div class="d-flex">
        <h3 class="card-index__title">Specialties</h3>
        <ul>
          <% brain.specialties.each do |specialty| %>
            <li class="card-index__text"><%= specialty %></li>
          <% end %>
        </ul>
      </div>
      <div class="d-flex flex-column">
        <h3 class="card-index__title">Price / Day</h3>
        <div class="card-index__text-price"><%= brain.price_per_day %> €</div>
      </div>
    </div>
  <% end %>
<% end %>

  </div>
</div>
