<div class="container">

  <div class="banner-brainz mb-5" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path("backgroundbanner.jpg")%>);">
    <div class="container">
      <h1>Mind your business...</h1>
      <h2>Rent a brain!</h2>
    </div>
  </div>

  <div class='d-flex justify-content-center mb-5'>
    <div class="filters-bar">
      <div class="filters-bar__category">
        <a href="">
          <i class="filters-bar__icon fa-solid fa-code"></i>
          <div class="filters-bar__text">Dev Profile</div>
        </a>
      </div>
      <div class="filters-bar__category">
        <a href="">
          <i class="filters-bar__icon fa-regular fa-face-smile"></i>
          <div class="filters-bar__text">Humor</div>
        </a>
      </div>
      <div class="filters-bar__category">
        <a href="">
          <i class="filters-bar__icon fa-solid fa-hands-clapping"></i>
          <div class="filters-bar__text">Eloquence</div>
        </a>
      </div>
      <div class="filters-bar__category">
        <a href="">
          <i class="filters-bar__icon fa-solid fa-football"></i>
          <div class="filters-bar__text">Sporty Mindset</div>
        </a>
      </div>
      <div class="filters-bar__category">
        <a href="">
          <i class="filters-bar__icon fa-solid fa-palette"></i>
          <div class="filters-bar__text">Artist Soul</div>
        </a>
      </div>
      <button class="filter-button d-flex align-items-center gap-2">
        <%= image_tag("filtre-horizontal.png", alt: "filter", width: 25) %>
          <div>Filters</div>
      </button>
    </div>
  </div>

  <div class="main-container d-flex positiobn-relative mb-5" data-controller="filters">
    <div class="filters__sidebar bg-light p-5">
      <%= simple_form_for :filter, url: brains_path, data: { action:"submit->filters#update"} do |f| %>
        <div class="mb-3">
          <%= f.input :qi, label: "QI min", input_html: { data: { filters_target:"qi"}, class: "form-control" } %>
        </div>
        <div class="mb-3">
          <%= f.input :languages, collection: Brain::LANGUAGES, multiple: true, as: :check_boxes, include_hidden: false, class: "form-check-input", input_html: { data: { filters_target:"languages"}} %>
        </div>
        <div class="mb-3">
          <%= f.input :specialties, collection: Brain::SPECIALTIES, multiple: true, as: :check_boxes, include_hidden: false, input_html: { class: "form-check-input" }, input_html: {data: { filters_target:"specialties"}} %>
        </div>
        <div class="mb-3">
          <%= f.input :price_per_day, label: "Price Max", input_html: { data: { filters_target:"price"}, class: "form-control"} %>
        </div>
        <div class="text-end">
          <%= f.submit 'Filter', class: "filter__btn" %>
        </div>
      <% end %>
    </div>

    <div class="content">
  <div class="grid__cards mb-5">
    <% @brains.each do |brain| %>
      <%= link_to brain_path(brain), data: { filters_target:"card", price: brain.price_per_day, qi: brain.qi, languages: brain.languages.join, specialties: brain.specialties } do %>
        <div class="card-index" >
          <div class="container-image mb-3">
            <% if brain.photo.attached? %>
              <%= cl_image_tag(brain.photo.key) %>
            <% else %>
              <%= image_tag("brainzImage.png", alt: "Brain Image") %>
            <% end %>
            <div class="qi">
              <div class="card-index__title">QI:</div>
              <div class="card-index__text-QI"><%= brain.qi %></div>
            </div>
          </div>
          <div class="card-infos">
            <div class="card-infos__attributes">
              <h2 class="card-index__name mb-3"><%= brain.name %></h2>

              <div class="d-flex align-items-start">
                <h3 class="card-index__title">Language(s):</h3>
                <div>
                  <% brain.languages.each do |language| %>
                    <p class="card-index__text"><%= language %></p>
                  <% end %>
                </div>
              </div>
              <div class="d-flex align-items-start">
                <h3 class="card-index__title">Specialties:</h3>
                <div>
                  <% brain.specialties.each do |specialty| %>
                    <p class="card-index__text"><%= specialty %></p>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
          <div>
            <h3 class="card-index__title">Price / Day:</h3>
            <div class="card-index__text-price"><%= brain.price_per_day %> €</div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>


    </div>
  </div>
