<div class="container">
  <div class="row">
    <div class="col">
      <h1><%= @brain.name %></h1>
      <%= image_tag(@brain.image, width: 200, height: 200) %>

      <h2>QI</h2>
      <p><%= @brain.qi %></p>

      <h2>Language(s)</h2>
      <ul>
        <% @brain.languages.each do |language| %>
          <li><%= language %></li>
        <% end %>
      </ul>

      <h2>Specialties</h2>
      <ul>
        <% @brain.specialties.each do |speciality| %>
          <li><%= speciality %></li>
        <% end %>
      </ul>

      <h2>Price / Day</h2>
      <p><%= @brain.price_per_day %> €</p>
    </div>
  </div>
</div>
