<div class="container">
  <div class="row">
    <div class="col">
      <div class="show-brain">

        <div class="brain-infos">
          <div class="card-show">
            <div class="delete-on-image">
              <div class="card-brain-img-show">
                <% if @brain.photo.attached? %>
                  <%= cl_image_tag(@brain.photo.key, width: 280) %>
                <% else %>
                  <%= image_tag "brainz-card-cyril.png", width: 280 %>
                <% end %>
              </div>
              <div class="delete">
                <% if current_user %>
                  <% if @user.id == @brain.user_id %>
                    <%= link_to brain_path(@brain), class: "btn btn-delete", data: { turbo_method: :delete, turbo_confirm: "Are you sure?"} do%>
                      <i class="fa-solid fa-xmark" style="color: #322A3D;"></i>
                    <% end %>
                  <% end %>
                <% end %>
              </div>
            </div>

            <div class="card-brain-infos">
              <div class="card-name-qi">
                <h1><%= @brain.name %></h1>
                <div class="qi">
                  <h2>QI : </h2>
                  <h2 class="qi-value"><%= @brain.qi %></h2>
                </div>
              </div>

              <div class="card-languages-specialties">
                <h2>Language(s)</h2>
                <ul>
                  <% @brain.languages.each do |language| %>
                    <li><%= language %></li>
                  <% end %>
                </ul>

                <h2>Specialties</h2>
                <ul>
                  <% @brain.specialties.each do |speciality| %>
                    <li><%= speciality %></li>
                  <% end %>
                </ul>
              </div>

              <div class="price">
                <h3><%= @brain.price_per_day %> $</h3>
              </div>

              <div class="edit">
                <% if current_user %>
                  <% if @user.id == @brain.user_id %>
                    <%= link_to "Edit your brain", edit_brain_path(@brain), class: "btn btn-ghost"%>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>

            <div class="card-reviews">
            <h1>Reviews</h1>
            <% @reviews.each do |review| %>
              <div class="review">
                <% case review.rating %>
                  <% when 1 %>
                    <p><i class="fa-solid fa-star" style="color: #FFD43B;"></i><i class="fa-regular fa-star" style="color: #FFD43B;"></i><i class="fa-regular fa-star" style="color: #FFD43B;"></i><i class="fa-regular fa-star" style="color: #FFD43B;"></i><i class="fa-regular fa-star" style="color: #FFD43B;"></i></p>
                  <% when 2 %>
                    <p><i class="fa-solid fa-star" style="color: #FFD43B;"></i><i class="fa-solid fa-star" style="color: #FFD43B;"></i><i class="fa-regular fa-star" style="color: #FFD43B;"></i><i class="fa-regular fa-star" style="color: #FFD43B;"></i><i class="fa-regular fa-star" style="color: #FFD43B;"></i></p>
                  <% when 3 %>
                    <p><i class="fa-solid fa-star" style="color: #FFD43B;"></i><i class="fa-solid fa-star" style="color: #FFD43B;"></i><i class="fa-solid fa-star" style="color: #FFD43B;"></i><i class="fa-regular fa-star" style="color: #FFD43B;"></i><i class="fa-regular fa-star" style="color: #FFD43B;"></i></p>
                  <% when 4 %>
                    <p><i class="fa-solid fa-star" style="color: #FFD43B;"></i><i class="fa-solid fa-star" style="color: #FFD43B;"></i><i class="fa-solid fa-star" style="color: #FFD43B;"></i><i class="fa-solid fa-star" style="color: #FFD43B;"></i><i class="fa-regular fa-star" style="color: #FFD43B;"></i></p>
                  <% when 5 %>
                    <p><i class="fa-solid fa-star" style="color: #FFD43B;"></i><i class="fa-solid fa-star" style="color: #FFD43B;"></i><i class="fa-solid fa-star" style="color: #FFD43B;"></i><i class="fa-solid fa-star" style="color: #FFD43B;"></i><i class="fa-solid fa-star" style="color: #FFD43B;"></i></p>
                <% end %>
                <p><i class="fa-solid fa-quote-left" style="color: #6931AB;"></i> <%= review.comment %></p>
              </div>
            <% end %>
          </div>
          <%= link_to "Add a review", new_brain_review_path(@brain), class: "btn main-button add-review"%>
        </div>



        <div class="card-bookings">
          <h1>Book your brain !</h1>
          <div class="booking-form">

            <div data-controller="price-calculator" data-price-calculator-priceperday-value=<%= @price %>>
              <%= simple_form_for [@brain, @booking]  do |f| %>
                <%= f.input :start_date,
                            as: :string,
                            input_html: { data: { controller: "datepicker", datepicker_date_value: @dates_booking, price_calculator_target: "start", action: "change->price-calculator#update"}} %>
                <%= f.input :end_date,
                            as: :string,
                            input_html: { data: { controller: "datepicker", datepicker_date_value: @dates_booking, price_calculator_target: "end", action: "change->price-calculator#update"}} %>
                <div class="book-button">
                  <%= f.submit "Book Me", class: "btn filter__btn"%>
                </div>
              <% end %>
            <div class="total-price">
              <p data-price-calculator-target="total"></p><p>€</p>
            </div>
            </div>

          </div>

        </div>

      </div>
    </div>
  </div>
</div>
