<div class="review">
  <div class="row">
    <div class="col">
      <h1>What do you think about <%= @brain.name %>?</h1>

      <%= simple_form_for [@brain, @review] do |f| %>
        <%= f.input :comment, input_html: { class: 'input comment' } %>
        <%= f.input :rating %>
        <br>
        <%= f.submit 'Submit', class: "filter__btn" %>
      <% end %>
    </div>
  </div>
</div>
